<table class="table table-bordered table-condensed sortable" id="allextensions_tbl">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>
            This tab will list all of the extensions in all of the selected profiles
        </p>
    </div>
    <thead>
        <tr><th>Code</th><th>Profile</th><th>Resource</th><th>Description</th></tr>
    </thead>
    <tbody>
    {{#each entry}}
        <tr>
            <td>{{code}}</td>
            <td>{{meta.profileName}}</td>
            <td>
                {{#each context}}
                    {{this}}
                {{/each}}
            </td>
            <td width='25%'>{{definition.short}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

