<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                {{#each item}}
                <li><a class="vsDetail" data-inx="{{inx}}" data-id = {{meta.id}} href='#'>{{name}}</a></li>
                {{/each}}
            </ul>
            <div><a href="#" id="new_vs">New ValueSet</a></div>
        </div>
        <!--<div class="col-md-8">
            <h4>Details of Value Set</h4>
            <div  id="vsDetail"></div>
        </div>-->
    </div>
</div>