<div class="row">
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-2"><strong>ID</strong></div>
            <div class="col-md-10"><div id='vs_id'>{{meta.id}}</div></div>
        </div>

        <div class="row">
            <div class="col-md-2"><strong>Name</strong></div>
            <div class="col-md-10"><input id = 'vs_name' class="data form-control" type='text' value='{{name}}'/></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Description</strong></div>
            <div class="col-md-10"><textarea id='vs_description' class="data form-control" >{{description}}</textarea></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>System</strong></div>
            <div class="col-md-10"><input type="test" id='vs_system' class="data form-control"  value="{{define.system}}"></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong>Define Contents</strong></div>
            <div class="col-md-10">
                <table class="table table-bordered table-condensed">
                    <tr><th>Display</th><th>Code</th>
                        {{#unless readOnly}}
                        <td>Action</td>
                        {{/unless}}
                    </tr>
                    {{#each define.concept}}
                    <tr>
                        <td>{{display}}</td>
                        <td>{{code}}</td>
                        {{#unless ../readOnly}}
                        <td><a class="define_concept_del" data-code= "{{code}}" href="#">Delete</a> </td>
                        {{/unless}}
                    </tr>
                    {{/each}}
                    {{#unless readOnly}}
                    <tr>
                        <td><input type='text' id='define_new_display'/> </td>
                        <td><input type='text' id='define_new_code'/> </td>
                        <td><a id="define_new_add" href="#">Add</a> </td>
                    </tr>
                    {{/unless}}
                </table>
            </div>
        </div>

        {{#unless readOnly}}
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        {{/unless}}
    </div>
    <div class="col-md-2">
        {{#unless readOnly}}
        <a href='#' class="btn btn-primary pull-right" id='save_change_vs'>Save Changes</a>
        {{/unless}}
    </div>


</div>