
<style>
    .notUsed {
        text-decoration: line-through;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <!--<h4>Profile Summary</h4>-->
            </div>
            <div class="col-md-7 col-sm-7">
                <!--<button class="btn btn-success pull-right" id="btnCreateSummary">Generate summary</button>-->
                <button class="btn btn-success pull-right" style='display:none' id="btnSaveChanges">Update Profile</button>
            </div>
        </div>

        <table class="table table-condensed table-bordered" id="ps_table">
            <tr><th>Path</th><th>Source</th><th>Mult</th><th>DataType</th><th>Description</th></tr>



        </table>
    </div>
</div>