<!--
    Create the container page for the form filling task
-->
<style>
    .noCodeQuestion {
        background-color: #ffff00;
    }

    .formNav1 {
        margin-left: 5px;
    }
    .formNav2 {
        margin-left: 10px;
    }
    .formNav3 {
        margin-left: 15px;
    }

</style>

<div class="panel panel-default">
    <div class="panel-body">
        <span id='qfHeaderText'></span>
        <button id='qfSave' class="btn btn-success pull-right">Save</button>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div id="qfMain"></div>
    </div>

    <div class="col-md-2">
        <div id="qfNavBar"></div>
    </div>

</div>



