<div class="row">

    <div class="col-sm-12 col-md-12">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 col-md-2">Questionnaire Type</label>
                <div class="col-sm-10 col-md-10">

                    <div class="radio-inline">
                        <label>
                            <input type="radio" class='qselect' name="optionsRadios" id="optionsRadios1" value="template">
                            Template
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" class='qselect'  name="optionsRadios" id="optionsRadios2" value="form">
                            Form
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>