
<div class="row">
    <div class="col-sm-4 col-md-4">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#qlTemplateTab" data-toggle="tab">Templates</a></li>
            <li>
                <a href="#qlFormTab" data-toggle="tab">Patient Forms</a>
            </li>
        </ul>

        <div class="tab-content" >
            <div class="active tab-pane" id="qlTemplateTab">
                <h4>Templates</h4>
                <table class="table table-bordered table-condensed">
                    <thead><tr><th>Name</th><th>Status</th><th>Action</th></tr></thead>
                    {{#each entry}}
                        <!-- Only while the server doesn't support status query-->
                        {{#if include}}
                        <tr>

                            <td title="{{id}}"><a href='#' class='viewQ' data-id='{{id}}'>{{meta.name}}</a>
                                <div>{{logicalID id}}</div>
                            </td>
                            <td>{{content.status}}</td>

                            <td><a href='#' class='viewQ' data-id='{{id}}' data-vid={{meta.versionID}}>Preview</a>
                                <!--<div><a href='#' class='fillin' data-id='{{id}}'>Fill In</a></div>-->
                                <div><a href='#' class='designQSource' data-id='{{id}}'>Design</a></div>
                            </td>
                        </tr>
                        {{/if}}
                    {{/each}}
                </table>
                <button class="btn btn-primary" id="qlNewTemplate">New Template</button>
            </div>

            <!-- The patient select pane -->
            <div class="tab-pane" id="qlFormTab">
                <br />

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        Select Patient
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <input type='text' class="form-control" id='qlSelectPatientName' value='eve'/>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <button class="btn btn-primary" id='qlSelectPatient'>Select</button>
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div id='qlPatientList'></div>
                    </div>

                    <div class="col-md-8 col-sm-8">
                        <div id="qlPatientQuestionnaires"></div>
                    </div>
                </div>


            </div>
        </div>


    </div>
    <div class="col-sm-8 col-md-8">


        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="panel panel-default" id="qlHeader" style="display: none">
                    <div class="panel-body">
                        <span id="qlShowID"></span>
                        <span>
                            <button class="btn btn-success pull-right" id='qlEdit'>Edit</button>
                        </span>
                        <div id="qlShowDate"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div style="border-left: 1px solid #ccc; padding: 5px">
                    <div id="displayQ"></div>
                </div>
            </div>
        </div>



    </div>
</div>